# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore setuptools build artifacts
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

sharing/
extra/
trash/

README.pdf
readme.pdf
paper.pdf

docs/build/
docs/source/api/


.pypirc
notebooks/

examples/non_linear/truss_buckling.py

*.png
*.jpg

agent.md
agent2.md
agent3.md
agent4.md
agent.pdf

.pytest_cache/

